pkgbase = moonshine-client-git
	pkgdesc = Moonlight streaming client with presets and independent background video and audio controls
	pkgver = 6.2.0.r64.ge058a1d
	pkgrel = 2
	url = https://github.com/AmazingPVPr/moonlight-personal
	arch = x86_64
	license = GPL-3.0-or-later
	license = MIT
	license = Zlib
	checkdepends = desktop-file-utils
	makedepends = git
	makedepends = vulkan-headers
	depends = ffmpeg
	depends = glibc
	depends = libdrm
	depends = libgcc
	depends = libglvnd
	depends = libplacebo
	depends = libstdc++
	depends = libva
	depends = libvdpau
	depends = libx11
	depends = libxcb
	depends = openssl
	depends = opus
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-wayland
	depends = sdl2-compat
	depends = sdl2_ttf
	depends = wayland
	optdepends = intel-media-driver: VA-API decoding on newer Intel GPUs
	optdepends = libva-intel-driver: VA-API decoding on older Intel GPUs
	provides = moonshine-client
	conflicts = moonshine-client
	source = moonshine-client::git+https://github.com/AmazingPVPr/moonlight-personal.git#branch=personal/profiles-video-pause
	source = moonlight-common-c::git+https://github.com/moonlight-stream/moonlight-common-c.git
	source = qmdnsengine::git+https://github.com/cgutman/qmdnsengine.git
	source = SDL_GameControllerDB::git+https://github.com/gabomdq/SDL_GameControllerDB.git
	source = enet::git+https://github.com/cgutman/enet.git
	source = nanors::git+https://github.com/sleepybishop/nanors.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = moonshine-client-git
